header p {
	align: center;
	align-content: center;
}

html, body {
	height: 100%;
	width: 100%;
	font-family: "FiraSans", cursive;
	margin: 0;
	align-content: center;
	vertical-align: middle;
	background-color: #212529;
}

a {
	color: white;
	text-decoration: none
}

div {
	border: 1px solid black;
}

header{
	height: 150px;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 100%;

}

#img_heart, #img_coin{
	height: 20px;
	width: auto;
	vertical-align: middle;
}

.game-time {
	font-size: 30px;
	color: #A9A9A9;
	font-weight: bold;
}

.container{
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px 10px;
	border: none;
}

.progress-bar{
	width: 60%;
	margin: 0 auto;
	background-color: grey;
	height: 30px;
	justify-content: center;
	align-self: flex-end;
	border-radius: 8px;
	margin-top: 1%;
	border: none;
}

.game{
	display: flex;
	height: 500px;
	margin-top: 30px;
	color: #A9A9A9;
	border: none;
}

.game-map{
	flex: 1 1 150px;
	text-align: center;
	vertical-align: middle;
	border: none;
}

.game-score{
	flex: 0 0 200px;
	border: none;
}

.game-score-1, .game-score-2{
	border-radius: 10px; 
	border-color: #A9A9A9;
	border-width: 3px;
	background: #303030;
}

.game-button{
	height: 50px;
	border-width: 0;
}

.game-button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align: middle;
}

.team, #name-team-1, #name-team-2 {
	font-weight: bold;
	margin-left: 8px;
	color: red;
}

.team-info {
	margin-left: 5px;
}

#team-lives-1, #team-lives-2,
#team-coins-1, #team-coins-2 {
	text-align: right;
}

tr {
	width: 100%;
}

button {
    background-color: #212529;
    border-color: #A9A9A9;
    color: #A9A9A9;
    border-width: 2px;
    border-radius: 5px;
    margin: 0 0 10px 10px;
    width: auto;
    font-size: 16px;
    font-weight: bold;
}

.game-button button:last-child  {
	border-color: #D11213;
	color: #D11213;
}